### CONFIGURACION JWT ###
JWT_SECRET = jwt_secret
ACCESS_TOKEN_VALIDITY_DURATION_IN_HOURS = 'example: 1h'
REFRESH_TOKEN_VALIDITY_DURATION_IN_HOURS = 'example: 72h'

### CONEXION API ###
PORT = 3000

### CONEXION BASE DE DATOS ###
DATABASE_HOST = localhost
DATABASE_PORT = 5432
DATABASE_USER = postgres
DATABASE_PASSWORD = 123
DATABASE_NAME = database_name

### CONEXION A CLOUDINARY ###
CLOUDINARY_CLOUD_NAME = cloudinary_cloud_name
CLOUDINARY_API_KEY = cloudinary_api_key
CLOUDINARY_API_SECRET = cloudinary_api_secret

### CONEXION A REDIS ###
REDIS_HOST = localhost
REDIS_PORT = 6379

### CONEXION MAIL (GMAIL SMTP) ###
MAIL_HOST = smtp.gmail.com
MAIL_PORT = 465
MAIL_USER = example@gmail.com
MAIL_PASS = "xxxx xxxx xxxx xxxx"

### VARIABLES OPCIONALES PARA DESPLIEGUE EN LA NUBE (RAILWAY, ETC) ###
DATABASE_URL = "postgresql://user:password@host:port/database"
DATABASE_SSL = "true"
REDIS_URL = "redis://user:password@host:port"
FIREBASE_SERVICE_ACCOUNT = '{"type": "service_account", ...}'